{% extends 'base.html' %}
{% block title %}
    Pannello Admin
{% endblock %}
{% block app_content %}
    <!-- Includi qui il codice specifico per la pagina di login -->
    <h1>Pannello Admin</h1><br>
    <div class="row">
        <div class="col">
            <h2>Ricercatori</h2>
            <div>{{ researcher_table }}</div><br>
        </div>
        <div class="col">
            <h2>Valutatori</h2>
            <div>{{ evaluator_table }}</div><br>
            <div class="text-center">
                <a class="btn btn-primary" href="{{ url_for('evaluator.profile_new') }}" role="button">Aggiungi valutatore</a>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var evaluatorRows = document.querySelectorAll('#evaluator-table tr');
            var researcherRows = document.querySelectorAll('#researcher-table tr');

            // Evento onclick per le righe della tabella Evaluator
            for (var i = 1; i < evaluatorRows.length; i++) {
                (function(i) {
                    evaluatorRows[i].addEventListener('click', function() {
                        var id = evaluatorRows[i].id;
                        var url = "{{ url_for('evaluator.profile', profile_id='TEMP') }}".replace("TEMP", id);
                        window.location.href = url;
                    });
                })(i);
            }

            // Evento onclick per le righe della tabella Researcher
            for (var j = 1; j < researcherRows.length; j++) {
                (function(j) {
                    researcherRows[j].addEventListener('click', function() {
                        var id = researcherRows[j].id;
                        var url = "{{ url_for('researcher.profile', profile_id='TEMP') }}".replace("TEMP", id);
                        window.location.href = url;
                    });
                })(j);
            }
        });
    </script>
{% endblock %}
