{% extends 'base.html' %}
{% block title %}
    Homepage
{% endblock %}
{% block app_content %}
    <h1>Papers</h1>
    <p>Siamo lieti di presentarvi la nostra nuova web application dedicata alla valutazione interna dei progetti di ricerca per il finanziamento dell'Unione Europea. La nostra piattaforma offre un ambiente completo per la gestione dei progetti, consentendo ai ricercatori di creare e sottoporre nuovi progetti per la valutazione. Ogni progetto può includere una descrizione testuale e uno o più documenti in formato PDF da valutare, come ad esempio piani di gestione dei dati, deliverable etici e altri. Ogni progetto segue un percorso con diversi stati, tra cui "approvato", "sottomesso per valutazione", "richiede modifiche" e "non approvato", permettendo una chiara tracciabilità del progresso.</p>
{% endblock %}
