{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
    Modifica {{ document.path }}
{% endblock %}
{% block app_content %}
    <div id="pspdfkit" style="width: 100%; height: 90vh;"></div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    {% if document.path %}
    <script src="{{ url_for('static', filename='pspdfkit/dist/pspdfkit.js') }}"></script>
        <script>
        PSPDFKit.load({
            container: '#pspdfkit',
            document: '{{ document.path }}',
            styleSheets: ['{{ url_for('static', filename='styles/pspdfkit.css') }}'],
            theme: PSPDFKit.Theme.DARK,
            {% if not editable %}
            initialViewState: new PSPDFKit.ViewState({
                readOnly: true,
            }),
            {% endif %}
            {% if document.annotations %}
            instantJSON: JSON.parse('{{ document.annotations|tojson }}'),
            {% endif %}
        {% if editable %}
        }).then(function (instance) {
            instance.setAnnotationCreatorName('{{ current_user.name }}');
            instance.addEventListener("annotations.didSave", async () => {
            const instantJSON = await instance.exportInstantJSON();
            await fetch('{{ url_for('document.update', document_id=document.id) }}', {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(instantJSON)
            });
        });
        {% endif %}
        }).catch(function (error) {
            console.error(error.message);
        });
    </script>
    {% endif %}
{% endblock %}