{% extends 'base.html' %}
{% block title %}
    {{ project.name }}
{% endblock %}
{% block app_content %}
    <div class="my-3 status-pill accepted">Accettato</div>
    <div>
        <h1>{{ project.title }}</h1>
        <p>
        {% for tag in project.tags %}
            <span class="badge rounded-pill tag-pill">
                <a href="{{ url_for('project.list', tag=tag.value) }}">{{ tag.value }}</a>
            </span>
        {% endfor %}
        </p>
        <h6 class="text-secondary">Creato il {{ project.created_at.strftime('%d/%m/%Y') }}</h6>
    </div>
    <h6>
        {% for author in project.authors %}
            <a href="{{ url_for('researcher.profile', profile_id=author.id) }}">{{ author.name }} {{ author.surname }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    </h6>
    <br>
    <hr class="solid"><br>
    <h3>Abstract</h3><br>
    <p>{{ project.abstract }}</p><br>

{% endblock %}
