{% extends 'base.html' %}

{% block content %}
    <!-- Includi qui il codice specifico per la pagina di login -->
    <h1>Pagina di login</h1>
    <form action="{{url_for('auth.login')}}" method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
{% endblock %}
