{% extends 'base.html' %}

{% block content %}
    <!-- Includi qui il codice specifico per la pagina di login -->
    <h1>Pagina di registrazione</h1>
<!--    <form action="{{url_for('auth.registration')}}" method="POST">-->
<!--        <label for="name">Name:</label><br>-->
<!--        <input type="text" id="name" name="name"><br>-->
<!--        <label for="surname">Surname:</label><br>-->
<!--        <input type="password" id="surname" name="surname"><br>-->
<!--        <label for="password">Password:</label><br>-->
<!--        <input type="password" id="password" name="password"><br>-->
<!--        <label for="email">Email:</label><br>-->
<!--        <input type="email" id="email" name="email"><br>-->
<!--        <label for="bio">Biografia:</label><br>-->
<!--        <input type="text" id="bio" name="bio"><br>-->
<!--        <label for="pronouns">Pronomi:</label><br>-->
<!--        <select id="pronouns" name="pronouns">-->
<!--            <option value="he/him">he/him</option>-->
<!--            <option value="she/her">she/her</option>-->
<!--            <option value="they/them">they/them</option>-->
<!--        </select>-->
<!--        <input type="submit" value="Registrati">-->
<!--    </form>-->
{% endblock %}
