<a href="#" class="js-nav-toggle nav-toggle"><i></i></a>
<aside role="complementary" class="aside js-fullheight">
    <nav class="side-nav" role="navigation">
        <ul>
            {% if current_user.is_authenticated %}
                {% if current_user.type == 'admin' %}
                    {% set navigation_bar = [
                        ["main.index", "📑 Papers"],
                        ["project.list", "Progetti"],
                        [None, "Admin Panel", [
                            ["admin.evaluators", "Valutatori"],
                            ["admin.researchers", "Ricercatori"],
                        ]],
                        ["auth.logout", "Logout"]
                    ] -%}
                {% endif %}
                {% if current_user.type == 'evaluator' %}
                    {% set navigation_bar = [
                        ["main.index", "📑 Papers"],
                        ["project.list", "Progetti"],
                        ["evaluator.profile", "Profilo"],
                        ["auth.logout", "Logout"]
                    ] -%}
                {% endif %}
                {% if current_user.type == 'researcher' %}
                    {% set navigation_bar = [
                        ["main.index", "📑 Papers"],
                        ["project.list", "Progetti"],
                        ["researcher.profile", "Profilo"],
                        ["project.new", "Crea nuovo progetto"],
                        ["auth.logout", "Logout"]
                    ] -%}
                {% endif %}
            {% else %}
                {% set navigation_bar = [
                    ["main.index", "📑 Papers"],
                    ["project.list", "Progetti"],
                    ["auth.login", "Login"],
                    ["auth.register", "Registrazione"],
                ] -%}
            {% endif %}
            {% for item in navigation_bar %}
                {% if item|length == 3 %}
                    {% set endpoint, label, submenu = item %}
                {% else %}
                    {% set endpoint, label = item %}
                    {% set submenu = None %}
                {% endif %}
                <li class="nav-item {% if request.endpoint == endpoint %}active{% endif %} {% if submenu %}sub-nav-activator{% endif %} ">
                    {% if submenu  %}
                        <a href="#" >
                            {{ label }}
                        </a>
                    {% else %}
                        {% if label == 'Profilo' %}
                            <a href="{{ url_for(endpoint, profile_id=current_user.id) }}">{{ label }}</a>
                        {% else %}
                            <a href="{{ url_for(endpoint) }}">{{ label }}</a>
                        {% endif %}
                    {% endif %}
                    {% if submenu %}
                        <div class="sub-nav">
                            <ul>
                                {% for sub_endpoint, sub_label in submenu %}
                                <li class="sub-nav-item{% if request.endpoint == sub_endpoint %}active{% endif %}">
                                    <a href="{{ url_for(sub_endpoint) }}">{{ sub_label }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</aside>