<a href="#" class="js-nav-toggle nav-toggle"><i></i></a>
<aside role="complementary" class="aside js-fullheight">
    <nav class="side-nav" role="navigation">
        <ul>
            {% if current_user.is_authenticated %}
                {% set navigation_bar = [
                    ["main.index", "📑 Papers"],
                    ["projects.project_list", "Progetti"]
                ] -%}
                {% if current_user.type == 'admin' %}
                    {% set navigation_bar = navigation_bar + [
                        [None, "Admin Panel", [
                            ["admin.evaluators", "Valutatori"],
                            ["admin.researchers", "Ricercatori"],
                        ]],
                    ] -%}
                {% endif %}
                {% set navigation_bar = navigation_bar + [
                    ["auth.logout", "Logout"],
                ] -%}
                {%- if current_user.type == 'researcher' %}
                    {%- set navigation_bar = navigation_bar + [[url_for("project.project_new"), "project.project_new", "Crea nuovo progetto"]] %}
                {%- elif current_user.type == 'admin' %}
                    {%- set navigation_bar = navigation_bar + [[url_for("admin.index"), "admin.index", "Pannello admin"]] %}
                {%- endif %}
                {%- set navigation_bar = navigation_bar + [[url_for("auth.logout"), "auth.logout", "Logout"]] %}
            {% else %}
                {% set navigation_bar = [
                    ["main.index", "📑 Papers"],
                    ["projects.project_list", "Progetti"],
                    ["auth.login", "Login"],
                    ["auth.register", "Registrazione"],
                ] -%}
            {% endif %}
            {% for item in navigation_bar %}
                {% if item|length == 3 %}
                    {% set endpoint, label, submenu = item %}
                {% else %}
                    {% set endpoint, label = item %}
                    {% set submenu = None %}
                {% endif %}
                <li class="nav-item {% if request.endpoint == endpoint %}active{% endif %} {% if submenu %}sub-nav-activator{% endif %} ">
                    {% if submenu  %}
                        <a href="#" >
                            {{ label }}
                        </a>
                    {% else %}
                        <a href="{{ url_for(endpoint) }}">{{ label }}</a>
                    {% endif %}
                    {% if submenu %}
                        <div class="sub-nav">
                            <ul>
                                {% for sub_endpoint, sub_label in submenu %}
                                <li class="sub-nav-item{% if request.endpoint == sub_endpoint %}active{% endif %}">
                                    <a href="{{ url_for(sub_endpoint) }}">{{ sub_label }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</aside>